* {
    font-family: 'Century Gothic';
}

header, footer, body, .video-container {
    background-color: #ebeff5;
}

h1 {
    color: #db8916;
}

.video-container {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

iframe {
    border-radius: 8px;
}

.review-container, .review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
    font-size: small;
}

.review-text {
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
    font-size: small;
}

.navbar p {
    color: #01165c;
    padding-left: 15%;
}

.navbar p:hover {
    background-color: #01165c;
    border-radius: 6px;
    color: aliceblue;
}

.navbar p:active {
    background-color: #01165c;
    transform: scale(1.15);
}

header {
    padding-left: 1%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 20px;
    font-size: medium;
    color: #01165c;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #db8916;
    overflow-x: hidden;
    padding-top: 20px;
}

aside p {
    font-size: smaller;
}

body {
    padding-left: 11%;
}

a {
    text-decoration: none;
}

input {
    border: 2px solid darkgrey;
    border-radius: 4px;
    outline: none;
    width: max-content;
}

input:focus {
    border: 2px solid dimgrey;
}

button {
    width: min-content;
    color: #01165c;
    background-color: #db8916;
    border-color: #01165c;
    border-radius: 6px;
}

button:active {
    color: aliceblue;
    background-color: #01165c;
    border-radius: 6px;
}

#ny, #spb, #london {
    color: #01165c;
}

/*Слайдер*/

img {
    width: 100%;
    height: 100%;
}

.slider {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 408px;
    border-radius: 15px;
}

.slides {
    width: 10000px;
    display: flex;
    position: absolute;
    top: 0;
    left: -1000px;
    cursor: pointer;
}

.slides.transition {
    transition: all 0.3s ease-in-out;
}

.slide {
    width: 1000px;
    height: 408px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #f3f3f3;
    font-size: 4rem;
}

.next {
    right: 4rem;
}

.prev {
    left: 4rem;
}

.prev:active,
.next:active {
    color: #db8916;
}

#description {
    position: inherit;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px;
    border-radius: 10px;
    font-size: 16px;
    height: max-content;
    color: aliceblue;
    background-color: #db8916;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 91%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    width: 200px;
    z-index: 5;
}

#description:hover .tooltip {
    visibility: visible;
}

.tooltip::before {
    content: "";
    position: absolute;
    transform: rotate(-45deg) scale(1.4);
    background-color: #192733;
    padding: 5px;
    z-index: 3;
    top: 97%;
    left: 45%;
}