<div class="slider">
    <div class="slides" id="slides">
        <span class="slide">
            <img src="../Static/Images/ny.jpg">
        </span>
        <span class="slide">
            <img src="../Static/Images/spb.jpg">
        </span>
        <span class="slide">
            <img src="../Static/Images/london.jpg">
        </span>
    </div>

    <a href="#" id="prev" class="prev">
        <i class="fas fa-caret-left"></i>
    </a>
    <a href="#" id="next" class="next">
        <i class="fas fa-caret-right"></i>
    </a>

    <div id="description">Нью-Йорк, США
        <span class="tooltip">Нью-Йорк — крупнейший город США, входящий в одну из крупнейших агломераций мира. Население города составляет 8 467 513 человек, агломерации — 19,77 млн (оценка на 2021 год). Нью-Йорк расположен на берегу Атлантического океана в юго-восточной части штата Нью-Йорк. Город был основан в начале XVII века голландскими колонистами и до 1664 года назывался Новый Амстердам.</span>
    </div>
    
</div>