<div id="slider" class="slider">
    <div class="wrapper">
        <div id="slides" class="slides">
            <span class="slide">
                <img src="../Static/Images/ny.jpg">
            </span>
            <span class="slide">
                <img src="../Static/Images/spb.jpg">
            </span>
            <span class="slide">
                <img src="../Static/Images/london.jpg">
            </span>
        </div>
    </div>
    <a id="prev" class="control prev"></a>
    <a id="next" class="control next"></a>
</div>
