<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lifespot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous" />
    
</head>

<header id="header-index">
    <h1>Lifespot - о проекте</h1>
    <p>На сайте собраны прямые трансляции из улиц разных городов мира.</p>
    <p>Все трансляции находятся в открытых источниках, в данный момент - youtube.com</p>
    
    
</header>

<!--SIDEBAR-->

<body>
    <!--SLIDER-->
    <p>Отзыв о работе сайта можно оставить здесь.</p>
    <div class="review-container">
        <div class="review-button">
            <button onclick="addComment()">Оставить отзыв</button>
        </div>
    </div>
    <script type="text/javascript" src="../Static/JS/about.js"></script>
</body>

<!--FOOTER-->

</html>