<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lifespot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../Static/JS/about.js"></script>
</head>

<header id="header-index">
    <h1>LifeSpot - о проекте</h1>
    <p>На сайте собраны прямые трансляции из улиц разных городов мира.</p>
    <p>Все трансляции находятся в открытых источниках, в данный момент - youtube.com</p>
    <p>Отзыв о работе сайта можно оставить здесь.</p>
</header>

<!--SIDEBAR-->

<body>
    <div class="review-container">
        <div class="review-button">
            <button onclick="getReview()">Оставить отзыв</button>
        </div>
    </div>
</body>

<!--FOOTER-->

</html>