<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />
    <!--
    <script>
        let age = prompt('Введите ваш возраст')
        if (age < 18) {
            alert("Сайт не для малышей!")
            window.location.href = "http://www.google.com"
        }
        else {
            alert("Добро пожаловать на Lifespot!")
        }
    </script>
    -->
</head>

<header>
    <h1>Lifespot - прямые трансляции с улиц</h1>
    <p>Покажем, что происходит прямо сейчас</p>
    <input type="text" size="50%" />
</header>

<body>
    <div class="bordered">
        <div class="video-container">
            <iframe width="336" height="189" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>

        </div>
        <div class="video-container">
            <iframe width="336" height="189" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>

        </div>
        <div class="video-container">
            <iframe width="336" height="189" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Лондон, автобусный маршрут</h3>

        </div>
    </div>
</body>

<aside id="sidebar">
    <div class="navbar">
        <a href="/"><p>Все трансляции</p></a>
        <a href="/"><p>О проекте</p></a>
    </div>
</aside>

<footer>
    <p>LifeSpot - все права защищены</p>
    <p>Связаться с нами: contact@lifespot.ru</p>
</footer>
</html>