<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous" />
    
    <title>Slideshow</title>

</head>
<body>

    <div class="slider">
        <div class="slides" id="slides">
            <span class="slide">
                <img src="../Static/Images/ny.jpg">
            </span>
            <span class="slide">
                <img src="../Static/Images/spb.jpg">
            </span>
            <span class="slide">
                <img src="../Static/Images/london.jpg">
            </span>
        </div>

        <a href="#" id="prev" class="prev">
            <i class="fas fa-caret-left"></i>
        </a>
        <a href="#" id="next" class="next">
            <i class="fas fa-caret-right"></i>
        </a>

        <p id="description">Нью-Йорк, США</p>
    </div>

    <script type="text/javascript" src="../Static/JS/testing.js"></script>
</body>
<!--<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" defer src="../Static/JS/testing.js"></script>
</head>

<header id="header-index">
    <h1>LifeSpot - тестовая страница</h1>
    <p>Здесь можно экспериментировать с кодом</p>
    <input type="text" oninput="
        /* Обработчик ввода текста */
           " size=50%>
</header>

<aside id="sidebar">
    <div class="navbar">
        <a href="/"><p>Трансляции</p></a>
        <a href="/"><p>О проекте</p></a>
    </div>
</aside>-->

<!--SIDEBAR-->
<!--<body>
</body>-->
<!--FOOTER-->

</html>